<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>My Shop - Connexion</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div style="max-width:300px; margin:100px auto; text-align:center;">
        <h2>Se connecter</h2>
        <form action="/login" method="POST">
            <input type="email" name="email" placeholder="Email" required style="width:100%; margin-bottom:10px;">
            <input type="password" name="mdp" placeholder="Mot de passe" required style="width:100%; margin-bottom:20px;">
            <button type="submit" style="width:100%; background:#2e7d32; color:white; padding:10px;">Connexion</button>
        </form>
    </div>
</body>
</html>